<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Buscador Star Wars</title>
    <base href="/" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <canvas id="espacio"></canvas>
    <h1>Buscador de personajes Star Wars</h1>
    <form action="/starwars" method="get">
      <input type="text" name="q" placeholder="Buscar personaje..." required />
      <button type="submit">Buscar</button>
    </form>
    <script src="/app.js"></script>
  </body>
</html>
