body {
  background-color: #8b191d;
  color: azure;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  background-color: #243b26;
  color: azure;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}

button:hover {
  background-color: #385d39;
}

.player {
  background-color: #6f1211;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.trash {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/* ESTILOS NEW */
.new-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-player label {
  font-size: 16px;
  margin-bottom: 10px;
}

.new-player input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #6f1211;
  color: azure;
}

a {
  color: #e4bf9a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
