.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    '. celda1'
    'celda2 celda3'
    'celda4 celda4';
  gap: 1px;
  background-color: white;
  width: 600px;
  margin: 20px auto;
}

.celda {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}

.celda1 {
  grid-area: celda1;
  background-color: #a06e2c;
}

.celda2 {
  grid-area: celda2;
  background-color: #6a7c88;
}

.celda3 {
  text-align: left;
  grid-area: celda3;
  background-color: #6a7c88;
  font-size: 0.9em;
}

.celda4 {
  grid-area: celda4;
  background-color: #4a4a4a;
}
