<!DOCTYPE html>
<html>
  <head>
    <title><%= tituloEJS %></title>
  </head>
  <body>
    <h1><%= tituloEJS %></h1>
    <p>Servidor funcionando correctamente.</p>
    <ul>
      <li><a href="/api/v1/users/login">Ir al Login</a></li>
      <li><a href="/api/v1/users/register">Ir al Registro</a></li>
    </ul>
  </body>
</html>
