.grid-container {
  display: grid;
  grid-template-columns: 100px 150px 150px;
  grid-template-rows: auto auto auto;
  gap: 1px;
  background-color: white;
  width: max-content;
}

.celda {
  background-color: #6a7c88;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

.celda1 {
  grid-column: 1 / 4;
}

.celda2 {
  grid-row: 2 / 4; /
}
