body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #646464;
  font-family: Arial, sans-serif;
}

.card {
  background: #353535;
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid #000;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.quote-container {
  margin-bottom: 30px;
}

#quote {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#author {
  display: block;
  font-style: italic;
  color: #949494;
}

button {
  background-color: #4e0a0a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #440909;
}
