<%- include('partials/header') %>
<body>
  <h1><%= tituloEJS %></h1>
  <p>Servidor funcionando correctamente.</p>
  <ul>
    <li><a href="/api/v2/users/login">Ir al Login</a></li>
    <li><a href="/api/v2/users/register">Ir al Registro</a></li>
  </ul>
</body>
<%- include('partials/footer') %>
