.calculator {
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background: #000;
  width: 70%;
}

/* Pantalla */
.display {
  background: #000;
  color: red;
  font-size: 2.5rem;
  text-align: right;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 200;
}

/* Botonera */
.buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  flex: 1 0 25%;
  height: 80px;
  font-size: 2rem;
  border: 1px solid #222;
  background: #e0e0e0;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.btn:hover {
  color: red;
  font-size: 3rem;
}

.btn.orange {
  background: linear-gradient(to bottom, #ff8c00, #ebbc84);
  color: #fff;
}

.btn.gray {
  background: linear-gradient(to bottom, #a3a1a1, #bebebe);
}

#zero {
  flex: 1 0 50%;
}
