<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Movies</title>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <img width="100px" src="/imgs/google.png" alt="google" />
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Buscar películas..." />
      <br />
      <button type="submit">Buscar con Google</button>
    </form>
  </body>
</html>
