.celda {
  background-color: #6a7c88;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'celda1 celda2'
    'celda3 celda4'
    'celda5 celda4';
  gap: 1px;
  background-color: white;
  width: 700px;
  margin: 20px auto;
}

.celda1 {
  grid-area: celda1;
}

.celda2 {
  grid-area: celda2;
}

.celda3 {
  grid-area: celda3;
}

.celda4 {
  grid-area: celda4;
  background-color: transparent;
  padding: 20px;
  background-color: #6a7c88;
}

.celda5 {
  grid-area: celda5;
}

.nested-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.celda-anidada {
  background-color: #d1c4e9;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.header {
  grid-column: 1 / span 2;
  font-weight: bold;
}
