<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloEJS %></title>
    <base href="/">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     <!-- NAV con estilo tipo footer -->
    <nav class="nav-bar">
        <div class="nav-content">
            <% if (user) { %>
                <span>Hola, <%= user.username %></span>
                <a href=<%= baseUrlUsers + "/logout" %>>Salir</a>
            <% } else { %>
                <a href=<%= baseUrlUsers + "/login" %>>Login</a>
            <% } %>
        </div>
    </nav>