* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
  /* header fijo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-left: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
}

header nav ul li a:hover {
  color: #e74c3c;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-left: 1rem;
}

/* Main */
main {
  display: block;
  background-color: #121212;
  padding-top: 100px;
}

/* Banner */
#banner {
  width: 100%;
  background-image: url('../img/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e74c3c;
}

/* Secciones */
section {
  width: 100%;
  padding: 4rem 2rem;
  color: #e0e0e0;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* ABOUT */
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #1e1e1e;
  color: #fff;
}

#about .text {
  flex: 0 0 70%;
  padding-right: 2rem;
}

#about .image {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
}

#about .image img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 2px solid #e74c3c;
  box-shadow: 0 0 10px rgba(192, 84, 84, 0.5);
}

/*
#skills {
}

#projects {
}

#contact {
} */

/* Footer */
footer {
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 1rem;
  text-align: center;
  position: relative; /* ya no absoluto */
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  header nav ul li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  main {
    flex-direction: column;
  }
}
