.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1px;
  background-color: white;
  width: 600px;
  margin: 20px auto;
}

.celda {
  background-color: #6a7c88;
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-family: sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.celda2 {
  order: 1;
}

.celda3 {
  order: 2;
}

.celda4 {
  order: 3;
}

.celda5 {
  order: 4;
}

.celda6 {
  order: 5;
}

.celda1 {
  order: 6;
}
